<a href="https://colab.research.google.com/github/2403a54098-boop/sample/blob/main/missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data={"patientid":[1,2,3,4,5],
      'Age':[25,30,None,40,50],
      'Bp':[120,None,118,140,None]}
df=pd.DataFrame(data)
print(df)

   patientid   Age     Bp
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  118.0
3          4  40.0  140.0
4          5  50.0    NaN

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Bp'].fillna(df['Bp'].mean(),inplace=True)
print(df)

   patientid    Age     Bp
0          1  25.00  120.0
1          2  30.00  126.0
2          3  36.25  118.0
3          4  40.00  140.0
4          5  50.00  126.0

/tmp/ipython-input-4101700038.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipython-input-4101700038.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bp'].fillna(df['Bp'].mean(),inplace=True)

In [ ]:
import pandas as pd
data={'Bp':[120,None,None,125,None,130]}
df=pd.DataFrame(data)
df['Bp'].fillna(method='ffill',inplace=True)
print(df)

      Bp
0  120.0
1  120.0
2  120.0
3  125.0
4  125.0
5  130.0

/tmp/ipython-input-638838935.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bp'].fillna(method='ffill',inplace=True)
/tmp/ipython-input-638838935.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Bp'].fillna(method='ffill',inplace=True)

In [ ]:
sales = pd.DataFrame({
    'OrderID':[101,102,103,101],
    'product':['mobile','laptop','tablet','mobile'],
    'amount':[20000,30000,40000,20000]
})
print(sales.duplicated())
sales_df=sales.drop_duplicates()
print(sales_df)

0    False
1    False
2    False
3     True
dtype: bool
   OrderID product  amount
0      101  mobile   20000
1      102  laptop   30000
2      103  tablet   40000

In [ ]:
df4=df.dropna()
print(df4)

      Bp
0  120.0
1  120.0
2  120.0
3  125.0
4  125.0
5  130.0