<a href="https://colab.research.google.com/github/2403a54098-boop/sample/blob/main/sample_ipynp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Access
print("X coordinate:", coordinates[0])

# Loop
for value in coordinates:
    print("Coordinate value:", value)

In [ ]:
a=["ranadheer",98,"cse"]
print("list",a)

list ['ranadheer', 98, 'cse']

In [1]:
person_info = ("Alice", 25, "Engineer")
fruits = ["apple", "banana", "cherry"]
student = {"name": "Bob", "age": 20, "grade": "A"}

print(person_info[0])
print(fruits[0])
print(student["name"])



student["school"] = "High School"
student["grade"] = "A+"

print(person_info)
print(fruits)
print(student)

Alice
apple
Bob
('Alice', 25, 'Engineer')
['apple', 'banana', 'cherry']
{'name': 'Bob', 'age': 20, 'grade': 'A+', 'school': 'High School'}